<div class="row main">
	<div class="container">	
		<div class="form-main-center">
		<h2 id="form-title">Register</h2>			
			<form (submit)="onRegisterSubmit()">

				<div class="form-group">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input [(ngModel)]="username" type="text" required="required" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Your Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input [(ngModel)]="email" type="text" required="required" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="cols-sm-2 control-label">Confirm Email</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input [(ngModel)]="confirmEmail" type="text" required="required" class="form-control" name="confirmEmail" id="confirmEmail"  placeholder="Confirm your Email"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input [(ngModel)]="password" type="password" required="required" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<input [(ngModel)]="confirmPassword" type="password" required="required" class="form-control" name="confirmPassword" id="confirmPassword"  placeholder="Confirm your Password"/>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<input type="submit" id="form-button" class="btn btn-primary btn-lg btn-block" value="Submit">
				</div>			
			</form>
		</div>
	</div>
</div>

